<footer class="text-center box-container primary-bg">
	<p class="no-margin">
		<a href="https://github.com/1chiSensei/Tanaka/blob/master/LICENSE" target="_blank">LICENSE</a>
		| 1chiSensei |
		<a href="https://github.com/1chiSensei/Tanaka" target="_blank">Source</a>
	</p>

	<script type="text/javascript" charset="utf-8">
		ackeeTracker
			.create('https://analytics.tanaka-bot.me', { detailed: true })
			.record('c125c86a-f09e-4505-b0e4-9097d1be131f');
	</script>
</footer>
