<footer class="center box-container primary no-border-radius">
	<p class="no-margin">
		<a
			href="https://github.com/1chiSensei/Tanaka/blob/master/LICENSE"
			target="_blank"
			>LICENSE</a
		>
		| 1chiSensei |
		<a href="https://github.com/1chiSensei/Tanaka" target="_blank">Source</a>
	</p>
</footer>