<html lang="en">
	<head>
		<title>Tanaka</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        	<meta
        	        name="viewport"
        	        content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
        	/>

		<meta name="theme-color" content="#7289da" />
                <meta name="robots" content="index, follow" />
                <meta name="author" content="1chiSensei" />
                <meta name="language" content="English" />
                <meta content="https://i.imgur.com/3kGZey6.png" property="og:image" />
                <link rel="icon" type="image/png" href="https://i.imgur.com/3kGZey6.png" />
		<link rel="manifest" href="/manifest.json" />
                <meta content="Tanaka" property="og:title" />

                <meta content="Tanaka's personal homepage." property="og:description" />
                <meta content="Tanaka's personal homepage." name="description" />

                <meta name="revisit-after" content="2 days" />
                <meta name="keywords" content="Tanaka, Bot, Discord Bot" />

                <meta property="og:locale" content="en_US" />
                <link rel="canonical" href="https://tanaka-bot.me/" />
                <meta property="og:url" content="https://tanaka-bot.me/" />
                <meta property="og:site_name" content="Tanaka" />

                <meta property="twitter:card" content="summary_large_image" />
                <meta property="twitter:url" content="https://tanaka-bot.me/" />
                <meta property="twitter:title" content="Tanaka" />
                <meta property="twitter:description" content="Tanaka's personal homepage." />
                <meta property="twitter:image" content="https://i.imgur.com/3kGZey6.png" />

		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="application-name" content="Tanaka" />
		<meta name="apple-mobile-web-app-title" content="Tanaka" />
		<meta name="msapplication-navbutton-color" content="#7289da" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="msapplication-starturl" content="/" />

		<link href="/static/modesta.css" type="text/css" rel="stylesheet" />
                <link href="/static/style.css" type="text/css" rel="stylesheet" />
                <link href="/static/navbar.css" type="text/css" rel="stylesheet" />

                <script src="/static/typed.js" type="text/javascript" charset="utf-8"></script>
                <script src="/static/color-mode.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/ackee.js" type="text/javascript" charset="utf-8"></script>
                <script src="/static/script.js" type="text/javascript" charset="utf-8"></script>
                <script src="/static/modesta.js" type="text/javascript" charset="utf-8"></script>
	</head>
</html>
