<html lang="en">
	<head>
		<title>Tanaka</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        	<meta
        	        name="viewport"
        	        content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
        	/>

		<meta name="theme-color" content="#7289da" />
                <meta name="robots" content="index, follow" />
                <meta name="author" content="1chiSensei" />
                <meta name="language" content="English" />
                <meta content="https://i.imgur.com/Ih18zrt.png" property="og:image" />
                <link rel="icon" type="image/png" href="https://i.imgur.com/Ih18zrt.png" />
                <meta content="Tanaka" property="og:title" />

                <meta content="Tanaka's personal homepage." property="og:description" />
                <meta content="Tanaka's personal homepage." name="description" />

                <meta name="revisit-after" content="2 days" />
                <meta name="keywords" content="Tanaka, Bot, Discord Bot" />

                <meta property="og:locale" content="en_US" />
                <link rel="canonical" href="https://tanaka.1chi.tk/" />
                <meta property="og:url" content="https://tanaka.1chi.tk/" />
                <meta property="og:site_name" content="Tanaka" />

                <meta property="twitter:card" content="summary_large_image" />
                <meta property="twitter:url" content="https://tanaka.1chi.tk/" />
                <meta property="twitter:title" content="Tanaka" />
                <meta property="twitter:description" content="Tanaka's personal homepage." />
                <meta property="twitter:image" content="https://i.imgur.com/Ih18zrt.png" />

		<link href="https://alexflipnote.dev/assets/css/modesta.css" type="text/css" rel="stylesheet" />
                <link href="/static/style.css" type="text/css" rel="stylesheet" />

                <script src="/static/modesta.js" type="text/javascript" charset="utf-8"></script>
                <script src="/static/script.js" type="text/javascript" charset="utf-8"></script>
	</head>
</html>