<header class="nav-bar">
	<span class="nav-bars"></span>
	<section class="nav">
		<span class="nav-close"></span>
		<div class="nav-scroller">
			<a href="/">Home</a>
			<a href="/commands">Commands</a>
			<a href="/auth/logout">Log Out</a>
			<a href="/legal">Legal</a>
			<a href="/profile">Profile</a>

			<br />
			<img class="center image-circle" src="<%= data.avatarURL({ size: 64, dynamic: true }); %>" alt="avatar" />
			<a href="/profile"><%= `${data.username}#${data.discriminator}` %></a>
		</div>
	</section>
	<h1>Tanaka</h1>
</header>