.nav-bar:not(.fixed) + .fullscreen .background {
	height: calc(100% - 3em);
}

.nav-bar {
	height: 3em;
	background: #303030;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	justify-content: center;
	z-index: 5;
}
.nav-bar .nav-bars {
	display: inline-block;
	cursor: pointer;
	width: 3em;
	height: 3em;
	border-radius: 0 5px 5px 0;
	padding: 0 0.5em;
	background: url('https://api.iconify.design/ei:navicon.svg?color=white') no-repeat center center/contain;
	transition: background-color 200ms ease;
	-webkit-transition: background-color 200ms ease;
	-ms-transition: background-color 200ms ease;
	-moz-transition: background-color 200ms ease;
	-o-transition: background-color 200ms ease;
}
.nav-bar .nav-bars.nav--expand {
	background-image: url('https://api.iconify.design/ic:outline-close.svg?color=white');
	background-color: #181818;
	transition: background-color 200ms ease;
	-webkit-transition: background-color 200ms ease;
	-ms-transition: background-color 200ms ease;
	-moz-transition: background-color 200ms ease;
	-o-transition: background-color 200ms ease;
}
.nav-bar .nav-bars.nav--expand + .nav {
	transform: translate3d(0, 0, 0);
	transition: transform 200ms ease;
	-webkit-transition: transform 200ms ease;
	-ms-transition: transform 200ms ease;
	-moz-transition: transform 200ms ease;
	-o-transition: transform 200ms ease;
}
.nav-bar .nav-close {
	position: absolute;
	cursor: pointer;
	left: 0;
	width: calc(100% - 1em);
	height: 3em;
	padding: 0 0.5em;
	margin-top: -4em;
	background: url(https://api.iconify.design/ic:outline-close.svg?color=white) no-repeat center center/contain
		#222;
}
.nav-bar.fixed {
	position: fixed;
	width: 100%;
}
.nav-bar.fixed .nav-close {
	display: none;
}
.nav-bar h1,
.nav-bar h2,
.nav-bar h3,
.nav-bar h4,
.nav-bar h5,
.nav-bar h6 {
	margin: 0.1em 0.25em;
	font-size: 2em;
	width: 100%;
	display: inline-block;
}
.nav-bar .nav {
	position: fixed;
	left: 0;
	padding: 1em;
	background: #181818;
	display: flex;
	height: calc(100% - 5em);
	margin-top: 3em;
	z-index: 10;
	transform: translate3d(-100%, 0, 0);
	transition: transform 200ms ease;
	-webkit-transition: transform 200ms ease;
	-ms-transition: transform 200ms ease;
	-moz-transition: transform 200ms ease;
	-o-transition: transform 200ms ease;
}
.nav-bar .nav .nav-scroller {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
.nav-bar .nav .nav-scroller::-webkit-scrollbar {
	width: 5px;
}
.nav-bar .nav .nav-scroller::-webkit-scrollbar-thumb {
	border: 3px solid #303030;
	border-radius: 7px;
}
.nav-bar .nav a {
	font-size: 1.5em;
	margin: 0.25em 0.5em;
	transition: filter 200ms ease;
	-webkit-transition: filter 200ms ease;
	-ms-transition: filter 200ms ease;
	-moz-transition: filter 200ms ease;
	-o-transition: filter 200ms ease;
}
.nav-bar .nav a:hover {
	transition: filter 200ms ease;
	-webkit-transition: filter 200ms ease;
	-ms-transition: filter 200ms ease;
	-moz-transition: filter 200ms ease;
	-o-transition: filter 200ms ease;
	filter: brightness(65%);
}
.nav-bar .nav a.selected {
	color: #fff;
	pointer-events: none;
}
.nav-bar .nav a.selected:hover {
	filter: brightness(100%);
}
.nav-bar .nav a.indent-1 {
	font-size: 1em;
	padding-left: 0.5em;
}
.nav-bar .nav a.indent-2 {
	font-size: 1em;
	padding-left: 1em;
}
.nav-bar .nav a.indent-3 {
	font-size: 1em;
	padding-left: 1.5em;
}
.nav-bar .nav a.indent-4 {
	font-size: 1em;
	padding-left: 2em;
}
.nav-bar .nav a.indent-5 {
	font-size: 1em;
	padding-left: 2.5em;
}
