<%- include('./partials/_head') %>

<body class="dark-theme github">
	<button class="darkmode-toggle" role="checkbox" id="darkmode-button">🌓</button>

	<div class="paper-container">
		<div class="ribbon twitch"></div>
		<div class="paper markdown-container" id="command-list">
			<%- commands %>
		</div>
	</div>
</body>