<%- include('./partials/_head') %>

<body class="dark-theme">
	<div class="darkmode-layer darkmode-layer--button"></div>
	<div class="darkmode-toggle" id="darkmode-button">🌓</div>

	<div class="paper-container">
		<div class="ribbon disco-ball"></div>
		<div class="paper markdown-container">
			<h1><a href="https://infinitybotlist.com/bots/804605929944645672" target="_blank">Infinity Bot List</a></h1>
			<img src="https://infinitybotlist.com/bots/804605929944645672/widget?size=large" alt="infinity bots card" />
			<hr />
		</div>
	</div>
	<%- include('./partials/_footer') %>

	<script type="text/javascript" defer>
		const darkmode = new Darkmode({
			defaultTheme: 'dark',
			cookie: true,
		});

		darkmode.attach();
	</script>
</body>
